body {
	background-color: white;
}


h1 {
	font-family: 'Raleway', sans-serif;
	color: red;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	color: blue;
}

p {
	font-family: 'Fjalla One', sans-serif;
}


/* chart */

.axis path, .axis line
{
		fill: none;
		stroke: #777;
		shape-rendering: crispEdges;
}

.axis text
{
		font-family: 'Arial';
		font-size: 13px;
}
.tick
{
		stroke-dasharray: 1, 2;
}
.bar
{
		fill: FireBrick;
}
