body {
	background-color: white;
}


h1 {
	font-family: 'Raleway', sans-serif;
	color: red;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
	color: blue;
}

p {
	font-family: 'Fjalla One', sans-serif;
}